@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;

.section {
	width: 100%;
	max-width: func.em(420, var.$font-size-primary);
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
}

.section-header {
	padding-top: func.em(40, var.$font-size-primary);
	margin-bottom: func.em(76, var.$font-size-primary);
	text-align: center;
}

.card,
.card-content {
	@include mix.flexbox;
	@include mix.flex-direction(column);
}

.card {
	min-height: func.em(220, var.$font-size-primary);
	overflow: hidden;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: func.em(4, var.$font-size-primary);
	background-color: transparent;
}

.card--supervisor::before {
	background-color: var.$color-cyan;
}

.card--team-builder::before {
	background-color: var.$color-red;
}

.card--karma::before {
	background-color: var.$color-orange;
}

.card--calculator::before {
	background-color: var.$color-blue;
}

.card-content {
	@include mix.flex(auto);
}

.card .content {
	font-size: func.em(13, var.$font-size-primary);
}

.card .image {
	width: func.em(56, var.$font-size-primary);
	height: func.em(56, var.$font-size-primary);
}

@media (min-width: 48em) {
	.section {
		max-width: func.em(1110, var.$font-size-primary);
	}

	.section-header {
		max-width: func.em(540, var.$font-size-primary);
		margin-bottom: func.em(60, var.$font-size-primary);
	}
}
